#headerimg {
	text-align: center;
	padding-bottom: 2em;
}

h2 {
	font-family: 'Coustard', serif;
	font-size: 4em;
}

#quoteTwo {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 1em;
}

#bottomBox {
	text-align: center;
}

button {
	margin: 1em;
}

#img {
	width: 100%;
}

#fake{
	background color: red;
}